.myCard {
  width: 200px;
  height: 200px;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12)
}

.myApp{
  text-align:center;
}
.variant{
  position:relative;
  width:150px;
  height:150px;
  cursor: pointer;
  border: 1px solid;
}

.clickCountDiv{
  position: absolute;
  bottom:0;
  right:0;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.variantImage{
  max-width:100%;
  max-height:100%;
}

.active{
  background-color: aquamarine;
}

